// /*------------------------------------*\
//    #TOOLS -> MIXINS -> COLUMNS
// \*------------------------------------*/
@mixin clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}