@if $use-calendar {

.ic__datepicker {
	position: absolute; 
	left: -99999px;
	top: -99999px;
	z-index: 2;
}

.ic__container {
	width: 230px;
	background: white;
	border: 1px solid $base-border-color;
}
/*
	.ic__prev {
		
	}

	.ic__next {
		
	}
*/
	.ic__header {
		@include clearfix();
		padding: $half-spacing-unit 0;
		background: $base-text-color;
	}

		.ic__month,
		.ic__year {
			float: left;
			width: 50%;
			padding-left: ($half-spacing-unit/ 2);
			padding-right: ($half-spacing-unit/ 2);
			select {
				width: 100%;
			}
		}

	.ic__week-head,
	.ic__days {
		width: 100%;
		margin-bottom: 0;
		text-align: center;
	}

	.ic__week-head {
		font-weight: bold;
	}
	.ic__week-head td:first-letter {
		text-transform: uppercase;
	}
/*
	.ic__days {
	}
*/
		.ic__day {
			cursor: pointer;
			&:hover,
			&:focus {
				background: #eee;
			}
		}

		.ic__day_state_current {
			background: $brand-color;
			color: white;
		}

} /** Close @if */
