@if ($use-googlemaps) {
/*------------------------------------*\
    COMPONENTS -> GENERIC -> ##GOOGLE-MAPS
\*------------------------------------*/
/**
 * Creates a box that a GoogleMaps instance can live within.
 *
 * DEPENDENCIES
 * [JS] - Google maps CDN
 * [JS] - googlemaps.js
 * 
 * 1. Sets a minimum height for the map.
 * 2. Using the padding-bottom hack sets the height of the map to be directly
 *    proportional to the width, maintaining it's aspect ratio.
 * 3. Positions map directly over the .map__inner component matching it's exact
 *    dimensions.
 *

<div class="c-googlemap">
	<div class="c-googlemap__inner">
		<div class="c-googlemap__map js-googlemap"
			data-marker-url="<?php bloginfo('template_directory'); ?>/build/img/map-marker.png"
            data-map-settings="<?php bloginfo('template_directory'); ?>/json-settings/googlemaps/map-1.json">				
		</div>
	</div>
</div>

*/

$min-height: 280px;
$height-percentage: 30%;

.c-googlemap {
    min-height: $min-height; /* [1] */
}

    .c-googlemap__inner { /* [2] */
		position: relative;
	    height: 0;
	    padding-bottom: $height-percentage;
    }

    .c-googlemap__map { /* [3] */
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	height: 100%;
    	min-height: $min-height;
    }
    
        .c-googlemap__map img {
        	max-width:none; 
        }

} /* Close @if */