@if ($use-modal) {

/*------------------------------------*\
    COMPONENTS -> GENERIC $MODAL
\*------------------------------------*/

$width: 700px;

.c-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: ($spacing-unit * 2 ) 0;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.6s, transform 0s 0.6s;
}

.c-modal.is-open {
    overflow: auto;
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.3s, transform 0s 0s;
}

    .c-modal__dialog {
        max-width: $width;
        margin: 0 auto;
        padding: 0 $spacing-unit;
    }

    .c-modal__inner {
        position: relative;
        padding: ($spacing-unit * 1);
        background: white;
        transform: translate3d(0, -60%, -1000px) rotateX(70deg);
        transition: transform 0.3s;
        @include screen-sm-down {
            padding: $spacing-unit;
        }
    }
    
        .is-open .c-modal__inner{
            transform: translate3d(0, 0, 0) rotateX(0);
        }

    .c-modal__close {
        position: absolute !important; // important to override svg-icon style.
        top: $spacing-unit/2;
        right: $spacing-unit/2;
        cursor: pointer;
    }
    
    .c-modal .o-flag {
        perspective: 1000;
    }


} /* Close @if */