/*------------------------------------*\
    COMPONENTS -> GENERIC -> #NAVBAR
\*------------------------------------*/
.c-navbar {
    @include font-size($txt-md);

    position: relative;
    @include navbar-bp-up {
        text-align: center;
    }
}

    .c-navbar__nav {
        background: $alpha-color;
        @include navbar-bp-up {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
        @include navbar-bp-down {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            z-index: 2;
            transition: transform $brand-transition, opacity $brand-transition;
            transform: scale(1,0);
            transform-origin: 50% 0;
            opacity: 0;
        }
    }

        .c-navbar__item {
            @include navbar-bp-up {
                display: table-cell;
            }
        }

            .c-navbar__link {
                display: block;
                padding: 1rem;
                color: $base-text-color;
                text-decoration: none;
                @include navbar-bp-up {
                    transition: all $brand-transition;                    
                }
                &:hover,
                &:focus,
                &--is-current {
                    background: $brand-color;
                    color: white;
                }
            }

    .c-navbar__toggle {
        position: relative;
        display: block;
        max-width: 200px;
        margin: 0 auto;
        padding: 1.8rem 0;
        background: $alpha-color;
        @include navbar-bp-up {
            display: none;
        }
    }

        .c-navbar__burger-wrap {
            $width: 80px;

            position: absolute;
            left: 50%;
            width: $width;
            margin-left: -($width/2);
            background: #F88;
            display: block;
            &::before {
                position: absolute;
                top: 50%;
                left: 0;
                display: block;
                transform: translateY(-50%);
                content: "Menu";
                .c-navbar__toggle-check:checked + .c-navbar__toggle & {
                    content: "Close";
                }
            }
        }

    .c-navbar__burger {
        $width: 20px;
        position: absolute;
        right: 0;
        top: 50%;
        width: $width;
        height: 3px;
        margin-left: -($width / 2);
        background: $brand-color;
        transition: transform $brand-transition, opacity $brand-transition;
        @include screen-sm-up {
            $width: 30px;
            width: $width;
            margin-left: -($width / 2);
        }
        .c-navbar__toggle-check:checked + .c-navbar__toggle & {
            margin-top: 0;
        }
    }

    .c-navbar__burger--top {
        margin-top: -7px;
        
        .c-navbar__toggle-check:checked + .c-navbar__toggle & {
            transform: rotate(-45deg);
        }
    }

    .c-navbar__burger--bottom {
        margin-top: 5px;

        .c-navbar__toggle-check:checked + .c-navbar__toggle & {
            transform: rotate(45deg);
        }
    }

    .c-navbar__burger--middle {
        margin-top: -1px;
        .c-navbar__toggle-check:checked + .c-navbar__toggle & {
            opacity: 0;
            transform: rotate(-45deg);
        }
    }

    .c-navbar__toggle-check:checked ~ .c-navbar__nav {
        @include navbar-bp-down {
            transform: scale(1);
            opacity: 1;
        }
    }

