@if ($use-section-collapse) {
/*------------------------------------*\
    OBJECTS -> NAVS -> ##SECTION-COLLAPSE
\*------------------------------------*/
/**
 * Used for section sections that collapse on small screens, they
 * can be toggled in or out of view.
 * Typical use case is a section nav.
 *
 * DEPENDENCIES
 * - [JS] components/section-collapse.js 


 * Collapsed on all screen sizes
    
<div class="c-section-collapse c-section-collapse@all js-section-collapse">
    <div class="c-section-collapse__title">
        <div class="c-section-collapse__toggle c-section-collapse@all__toggle js-section-collapse__toggle">
            <svg class="c-section-collapse__chevron c-section-collapse@all__chevron">
                <use xlink:href="<?php bloginfo('template_directory'); ?>/build/img/sprite.svg#icon-chevron"></use>
            </svg> 
        </div>
        Om oss
    </div>
    <div class="c-section-collapse__content c-section-collapse@all__content js-section-collapse__content">
        content
    </div>
</div>


 * Collapsed on all screens below screen-md breakpoint
<div class="c-section-collapse c-section-collapse@md js-section-collapse">
    <div class="c-section-collapse__title">
        <div class="c-section-collapse__toggle c-section-collapse@md__toggle js-section-collapse__toggle">
            <svg class="c-section-collapse__chevron c-section-collapse@md__chevron">
                <use xlink:href="<?php bloginfo('template_directory'); ?>/build/img/sprite.svg#icon-chevron"></use>
            </svg> 
        </div>
        Om oss
    </div>
    <div class="c-section-collapse__content c-section-collapse@md__content js-section-collapse__content">
        content
    </div>
</div>



* Collapsed on all screens below screen-sm breakpoint

<div class="c-section-collapse c-section-collapse@sm js-section-collapse">
    <div class="c-section-collapse__title">
        <div class="c-section-collapse__toggle c-section-collapse@sm__toggle js-section-collapse__toggle">
            <svg class="c-section-collapse__chevron c-section-collapse@sm__chevron">
                <use xlink:href="<?php bloginfo('template_directory'); ?>/build/img/sprite.svg#icon-chevron"></use>
            </svg> 
        </div>
        Om oss
    </div>
    <div class="c-section-collapse__content c-section-collapse@sm__content js-section-collapse__content">
        content
    </div>
</div>


* Collapsed on all screens below screen-xs breakpoint

<div class="c-section-collapse c-section-collapse@xs js-section-collapse">
    <div class="c-section-collapse__title">
        <div class="c-section-collapse__toggle c-section-collapse@xs__toggle js-section-collapse__toggle">
            <svg class="c-section-collapse__chevron c-section-collapse@xs__chevron">
                <use xlink:href="<?php bloginfo('template_directory'); ?>/build/img/sprite.svg#icon-chevron"></use>
            </svg> 
        </div>
        Om oss
    </div>
    <div class="c-section-collapse__content c-section-collapse@xs__content js-section-collapse__content">
        content
    </div>
</div>


 */

@mixin section-collapse($bp, $screen) {
    .c-section-collapse#{$screen}__content {
        @media (max-width: $bp) {
            @include hidden;
        }
    }
    .c-section-collapse#{$screen}__toggle {
        display: none;
        @media screen and (max-width: $bp) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            cursor: pointer;
        }
    }
}


$bp-screen-xs: false;
$bp-screen-sm: true;
$bp-screen-md: false;
$bp-screen-all: false;

$chevron-size: 12px;
$chevron-color: $base-text-color;


@if ($bp-screen-xs) {
    @include section-collapse($screen-xs, \@xs);
}
@if ($bp-screen-sm) {
    @include section-collapse($screen-sm, \@sm);
}
@if ($bp-screen-md) {
    @include section-collapse($screen-md, \@md);
}
@if ($bp-screen-all) {
    @include section-collapse(9999px, \@all);
}

    .c-section-collapse__title {
        position: relative;
    }

    .c-section-collapse__chevron {
        position: absolute;
        top: 50%;
        right: $spacing-unit;
        display: block;
        width: $chevron-size;
        height: $chevron-size;
        margin-top: -($chevron-size / 2);
        fill: $chevron-color;
        transform: rotate(90deg);
    }

    .c-section-collapse__content {
        .section-collapse--is-open & {
            @include visible;
        }
    }

    .c-section-collapse__chevron {
        .section-collapse--is-open & {
            transform: rotate(-90deg);
        }
    }

} /* close @if */