/*------------------------------------*\
     SETTINGS -> $FEATURE-TOGGLE
     Global options & config switches
\*------------------------------------*/
/**
 *  Site wide options to turn on various featurs.
 *
 *  NOTE - Turning on all features will result in more bloated code.
 *  You should only set the those that you intend to use to true.
 */



/*------------------------------------*\
     $OBJECTS
\*------------------------------------*/
        
/* BASE LAYOUT */
        

/* GRID */
$use-grid:               true;

/** GRID FLAGS */
$use-grid--equal-height: false;
$use-grid--center:       false;
$use-grid--bottom:       false;

$use-grid--gutter-lg:    false;
$use-grid--gutter-sm:    false;
$use-grid--no-gutter:    false;
$use-grid--matrix:       false;

$use-grid--reverse:      false;






/* $LISTS */

/* BARE-LIST */
$use-bare-list:     true;
/* INLINE-LIST - Dependencies: bare-list */
$use-inline-list:   true; 
/* SPLIT - Dependencies: bare-list */
$use-split:         false; 




/* $NAVS */


/* BREADCRUMBS -  Dependencies: nav, inline-list, bare-list */
$use-breadcrumbs:   false;
/* NAV-FIT -  Dependencies: nav, inline-list, bare-list */
$use-nav-fit:       false;


/* $GENERIC */

/* ARTICLE - Dependancies: matrix */
$use-article:           false; 
/* BARE-LINK - Dependancies: ui-link */
$use-bare-link:         false; 
/* COLUMNS */
$use-columns:           false;
/* FLAG */
$use-flag:              true;
/* FLYOUT */
$use-flyout:            false;
/* PARAGRAPH-GROUP */
$use-paragraph-group:   false;
/* SECTION */
$use-section:           true;
/* TRUNCATE */
$use-truncate:          false;
/* UI-LINK */
$use-ui-link:           true;
/* VIDEO-WRAPPER */
$use-video-wrapper:     false;
/* TRANSFORMER - Dependancies: ui-link */
$use-transformer:       false;





/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/




/*------------------------------------*\
    $TRUMPS
\*------------------------------------*/




/** WIDTHS */
$use-width-1-1:   false;
$use-width-1-2:   false;
$use-width-1-3:   true;
$use-width-2-3:   true;
$use-width-1-4:   true;
$use-width-2-4:   false;
$use-width-3-4:   true;
$use-width-1-5:   false;
$use-width-2-5:   false;
$use-width-3-5:   false;
$use-width-4-5:   false;
$use-width-1-6:   false;
$use-width-2-6:   false;
$use-width-3-6:   false;
$use-width-4-6:   false;
$use-width-5-6:   false;
$use-width-1-8:   false;
$use-width-2-8:   false;
$use-width-3-8:   false;
$use-width-4-8:   false;
$use-width-5-8:   false;
$use-width-6-8:   false;
$use-width-7-8:   false;
$use-width-1-10:  false;
$use-width-2-10:  false;
$use-width-3-10:  false;
$use-width-4-10:  false;
$use-width-5-10:  false;
$use-width-6-10:  false;
$use-width-7-10:  false;
$use-width-8-10:  false;
$use-width-9-10:  false;
$use-width-1-12:  false;
$use-width-2-12:  false;
$use-width-3-12:  false;
$use-width-4-12:  false;
$use-width-5-12:  false;
$use-width-6-12:  false;
$use-width-7-12:  false;
$use-width-8-12:  false;
$use-width-9-12:  false;
$use-width-10-12: false;
$use-width-11-12: false;

/** Push */
$use-push-1-1:    false;
$use-push-1-2:    false;
$use-push-1-3:    false;
$use-push-2-3:    false;
$use-push-1-4:    false;
$use-push-2-4:    false;
$use-push-3-4:    false;
$use-push-1-5:    false;
$use-push-2-5:    false;
$use-push-3-5:    false;
$use-push-4-5:    false;
$use-push-1-6:    false;
$use-push-2-6:    false;
$use-push-3-6:    false;
$use-push-4-6:    false;
$use-push-5-6:    false;
$use-push-1-8:    false;
$use-push-2-8:    false;
$use-push-3-8:    false;
$use-push-4-8:    false;
$use-push-5-8:    false;
$use-push-6-8:    false;
$use-push-7-8:    false;
$use-push-1-10:   false;
$use-push-2-10:   false;
$use-push-3-10:   false;
$use-push-4-10:   false;
$use-push-5-10:   false;
$use-push-6-10:   false;
$use-push-7-10:   false;
$use-push-8-10:   false;
$use-push-9-10:   false;
$use-push-1-12:   false;
$use-push-2-12:   false;
$use-push-3-12:   false;
$use-push-4-12:   false;
$use-push-5-12:   false;
$use-push-6-12:   false;
$use-push-7-12:   false;
$use-push-8-12:   false;
$use-push-9-12:   false;
$use-push-10-12:  false;
$use-push-11-12:  false;

/** Pull */
$use-pull-1-1:    false;
$use-pull-1-2:    false;
$use-pull-1-3:    false;
$use-pull-2-3:    false;
$use-pull-1-4:    false;
$use-pull-2-4:    false;
$use-pull-3-4:    false;
$use-pull-1-5:    false;
$use-pull-2-5:    false;
$use-pull-3-5:    false;
$use-pull-4-5:    false;
$use-pull-1-6:    false;
$use-pull-2-6:    false;
$use-pull-3-6:    false;
$use-pull-4-6:    false;
$use-pull-5-6:    false;
$use-pull-1-8:    false;
$use-pull-2-8:    false;
$use-pull-3-8:    false;
$use-pull-4-8:    false;
$use-pull-5-8:    false;
$use-pull-6-8:    false;
$use-pull-7-8:    false;
$use-pull-1-10:   false;
$use-pull-2-10:   false;
$use-pull-3-10:   false;
$use-pull-4-10:   false;
$use-pull-5-10:   false;
$use-pull-6-10:   false;
$use-pull-7-10:   false;
$use-pull-8-10:   false;
$use-pull-9-10:   false;
$use-pull-1-12:   false;
$use-pull-2-12:   false;
$use-pull-3-12:   false;
$use-pull-4-12:   false;
$use-pull-5-12:   false;
$use-pull-6-12:   false;
$use-pull-7-12:   false;
$use-pull-8-12:   false;
$use-pull-9-12:   false;
$use-pull-10-12:  false;
$use-pull-11-12:  false;


/* FONT-SIZE */
$use-txt-xxl:   true;
$use-txt-xl:    false;
$use-txt-lg:    true;
$use-txt-md:    true;
$use-txt-sm:    false;
$use-txt-xs:    false;
$use-txt-xxs:   false;


/* FONTS-GENERIC */
$use-txt-uppercase:     false;
$use-txt-normalcase:    false;
$use-txt-lowercase:     false;
$use-txt-bold:          false;
$use-txt-semi-bold:     false;
$use-txt-normal-weight: false;
$use-txt-light:         false;
$use-txt-italic:        true;
$use-txt-underline:     false;
$use-txt-nounderline:   false;


/* TEXT-ALIGNMENT */
$use-text-right:            false;
$use-text-right-at-xs-down: false;
$use-text-right-at-sm-down: false;
$use-text-right-at-md-down: false;
$use-text-right-at-lg-down: false;
$use-text-right-at-xs-up:   false;
$use-text-right-at-sm-up:   false;
$use-text-right-at-md-up:   false;
$use-text-right-at-lg-up:   false;

$use-text-center:               false;
$use-text-center-at-xs-down:    false;
$use-text-center-at-sm-down:    false;
$use-text-center-at-md-down:    false;
$use-text-center-at-lg-down:    false;
$use-text-center-at-xs-up:      false;
$use-text-center-at-sm-up:      false;
$use-text-center-at-md-up:      false;
$use-text-center-at-lg-up:      false;

$use-text-left:             false;
$use-text-left-at-xs-down:  false;
$use-text-left-at-sm-down:  false;
$use-text-left-at-md-down:  false;
$use-text-left-at-lg-down:  false;
$use-text-left-at-xs-up:    false;
$use-text-left-at-sm-up:    false;
$use-text-left-at-md-up:    false;
$use-text-left-at-lg-up:    false;


/* FLOATS */
$use-float-left:            false;
$use-float-left-at-xs-down: false;
$use-float-left-at-sm-down: false;
$use-float-left-at-md-down: false;
$use-float-left-at-lg-down: false;
$use-float-left-at-xs-up:   false;
$use-float-left-at-sm-up:   false;
$use-float-left-at-md-up:   false;
$use-float-left-at-lg-up:   false;

$use-float-right:            false;
$use-float-right-at-xs-down: false;
$use-float-right-at-sm-down: false;
$use-float-right-at-md-down: false;
$use-float-right-at-lg-down: false;
$use-float-right-at-xs-up:   false;
$use-float-right-at-sm-up:   false;
$use-float-right-at-md-up:   false;
$use-float-right-at-lg-up:   false;


/* PUSH (MARGINS) */
$use-push:              false;
$use-push-at-xs-down:   false;
$use-push-at-sm-down:   false;
$use-push-at-md-down:   false;
$use-push-at-lg-down:   false;
$use-push-at-xs-up:     false;
$use-push-at-sm-up:     false;
$use-push-at-md-up:     false;
$use-push-at-lg-up:     false;

$use-push-half:             false;
$use-push-half-at-xs-down:  false;
$use-push-half-at-sm-down:  false;
$use-push-half-at-md-down:  false;
$use-push-half-at-lg-down:  false;
$use-push-half-at-xs-up:    false;
$use-push-half-at-sm-up:    false;
$use-push-half-at-md-up:    false;
$use-push-half-at-lg-up:    false;

/* PUSH -> TOP */
$use-push--top:             false;
$use-push--top-at-xs-down:  false;
$use-push--top-at-sm-down:  false;
$use-push--top-at-md-down:  false;
$use-push--top-at-lg-down:  false;
$use-push--top-at-xs-up:    false;
$use-push--top-at-sm-up:    false;
$use-push--top-at-md-up:    false;
$use-push--top-at-lg-up:    false;

$use-push-half--top:            false;
$use-push-half--top-at-xs-down: false;
$use-push-half--top-at-sm-down: false;
$use-push-half--top-at-md-down: false;
$use-push-half--top-at-lg-down: false;
$use-push-half--top-at-xs-up:   false;
$use-push-half--top-at-sm-up:   false;
$use-push-half--top-at-md-up:   false;
$use-push-half--top-at-lg-up:   false;

/* PUSH -> RIGHT */
$use-push--right:               false;
$use-push--right-at-xs-down:    false;
$use-push--right-at-sm-down:    false;
$use-push--right-at-md-down:    false;
$use-push--right-at-lg-down:    false;
$use-push--right-at-xs-up:      false;
$use-push--right-at-sm-up:      false;
$use-push--right-at-md-up:      false;
$use-push--right-at-lg-up:      false;

$use-push-half--right:              false;
$use-push-half--right-at-xs-down:   false;
$use-push-half--right-at-sm-down:   false;
$use-push-half--right-at-md-down:   false;
$use-push-half--right-at-lg-down:   false;
$use-push-half--right-at-xs-up:     false;
$use-push-half--right-at-sm-up:     false;
$use-push-half--right-at-md-up:     false;
$use-push-half--right-at-lg-up:     false;

/* PUSH -> BOTTOM */
$use-push--bottom:              false;
$use-push--bottom-at-xs-down:   false;
$use-push--bottom-at-sm-down:   false;
$use-push--bottom-at-md-down:   false;
$use-push--bottom-at-lg-down:   false;
$use-push--bottom-at-xs-up:     false;
$use-push--bottom-at-sm-up:     false;
$use-push--bottom-at-md-up:     false;
$use-push--bottom-at-lg-up:     false;

$use-push-half--bottom:             true;
$use-push-half--bottom-at-xs-down:  false;
$use-push-half--bottom-at-sm-down:  false;
$use-push-half--bottom-at-md-down:  false;
$use-push-half--bottom-at-lg-down:  false;
$use-push-half--bottom-at-xs-up:    false;
$use-push-half--bottom-at-sm-up:    false;
$use-push-half--bottom-at-md-up:    false;
$use-push-half--bottom-at-lg-up:    false;

/* PUSH -> LEFT */
$use-push--left:            true;
$use-push--left-at-xs-down: false;
$use-push--left-at-sm-down: false;
$use-push--left-at-md-down: false;
$use-push--left-at-lg-down: false;
$use-push--left-at-xs-up:   false;
$use-push--left-at-sm-up:   false;
$use-push--left-at-md-up:   false;
$use-push--left-at-lg-up:   false;

$use-push-half--left:               false;
$use-push-half--left-at-xs-down:    false;
$use-push-half--left-at-sm-down:    false;
$use-push-half--left-at-md-down:    false;
$use-push-half--left-at-lg-down:    false;
$use-push-half--left-at-xs-up:      false;
$use-push-half--left-at-sm-up:      false;
$use-push-half--left-at-md-up:      false;
$use-push-half--left-at-lg-up:      false;

/* PUSH -> SIDES */
$use-push--sides:               false;
$use-push--sides-at-xs-down:    false;
$use-push--sides-at-sm-down:    false;
$use-push--sides-at-md-down:    false;
$use-push--sides-at-lg-down:    false;
$use-push--sides-at-xs-up:      false;
$use-push--sides-at-sm-up:      false;
$use-push--sides-at-md-up:      false;
$use-push--sides-at-lg-up:      false;

$use-push-half--sides:              false;
$use-push-half--sides-at-xs-down:   false;
$use-push-half--sides-at-sm-down:   false;
$use-push-half--sides-at-md-down:   false;
$use-push-half--sides-at-lg-down:   false;
$use-push-half--sides-at-xs-up:     false;
$use-push-half--sides-at-sm-up:     false;
$use-push-half--sides-at-md-up:     false;
$use-push-half--sides-at-lg-up:     false;

/* PUSH -> ENDS */
$use-push--ends:            false;
$use-push--ends-at-xs-down: false;
$use-push--ends-at-sm-down: false;
$use-push--ends-at-md-down: false;
$use-push--ends-at-lg-down: false;
$use-push--ends-at-xs-up:   false;
$use-push--ends-at-sm-up:   false;
$use-push--ends-at-md-up:   false;
$use-push--ends-at-lg-up:   false;

$use-push-half--ends:               false;
$use-push-half--ends-at-xs-down:    false;
$use-push-half--ends-at-sm-down:    false;
$use-push-half--ends-at-md-down:    false;
$use-push-half--ends-at-lg-down:    false;
$use-push-half--ends-at-xs-up:      false;
$use-push-half--ends-at-sm-up:      false;
$use-push-half--ends-at-md-up:      false;
$use-push-half--ends-at-lg-up:      false;



/* FLUSH (REMOVE MARGINS) */
$use-flush:             true;
$use-flush-at-xs-down:  false;
$use-flush-at-sm-down:  false;
$use-flush-at-md-down:  false;
$use-flush-at-lg-down:  false;
$use-flush-at-xs-up:    false;
$use-flush-at-sm-up:    false;
$use-flush-at-md-up:    false;
$use-flush-at-lg-up:    false;

/* FLUSH -> TOP */
$use-flush--top:            false;
$use-flush--top-at-xs-down: false;
$use-flush--top-at-sm-down: false;
$use-flush--top-at-md-down: false;
$use-flush--top-at-lg-down: false;
$use-flush--top-at-xs-up:   false;
$use-flush--top-at-sm-up:   false;
$use-flush--top-at-md-up:   false;
$use-flush--top-at-lg-up:   false;

/* FLUSH -> RIGHT */
$use-flush--right:              false;
$use-flush--right-at-xs-down:   false;
$use-flush--right-at-sm-down:   false;
$use-flush--right-at-md-down:   false;
$use-flush--right-at-lg-down:   false;
$use-flush--right-at-xs-up:     false;
$use-flush--right-at-sm-up:     false;
$use-flush--right-at-md-up:     false;
$use-flush--right-at-lg-up:     false;

/* FLUSH -> BOTTOM */
$use-flush--bottom:             true;
$use-flush--bottom-at-xs-down:  false;
$use-flush--bottom-at-sm-down:  false;
$use-flush--bottom-at-md-down:  false;
$use-flush--bottom-at-lg-down:  false;
$use-flush--bottom-at-xs-up:    false;
$use-flush--bottom-at-sm-up:    false;
$use-flush--bottom-at-md-up:    false;
$use-flush--bottom-at-lg-up:    false;

/* FLUSH -> LEFT */
$use-flush--left:               false;
$use-flush--left-at-xs-down:    false;
$use-flush--left-at-sm-down:    false;
$use-flush--left-at-md-down:    false;
$use-flush--left-at-lg-down:    false;
$use-flush--left-at-xs-up:      false;
$use-flush--left-at-sm-up:      false;
$use-flush--left-at-md-up:      false;
$use-flush--left-at-lg-up:      false;

/* FLUSH -> SIDES */
$use-flush--sides:              false;
$use-flush--sides-at-xs-down:   false;
$use-flush--sides-at-sm-down:   false;
$use-flush--sides-at-md-down:   false;
$use-flush--sides-at-lg-down:   false;
$use-flush--sides-at-xs-up:     false;
$use-flush--sides-at-sm-up:     false;
$use-flush--sides-at-md-up:     false;
$use-flush--sides-at-lg-up:     false;

/* FLUSH -> ENDS */
$use-flush--ends:               false;
$use-flush--ends-at-xs-down:    false;
$use-flush--ends-at-sm-down:    false;
$use-flush--ends-at-md-down:    false;
$use-flush--ends-at-lg-down:    false;
$use-flush--ends-at-xs-up:      false;
$use-flush--ends-at-sm-up:      false;
$use-flush--ends-at-md-up:      false;
$use-flush--ends-at-lg-up:      false;


/* SOFT (PADDING) */
$use-soft:              false;
$use-soft-at-xs-down:   false;
$use-soft-at-sm-down:   false;
$use-soft-at-md-down:   false;
$use-soft-at-lg-down:   false;
$use-soft-at-xs-up:     false;
$use-soft-at-sm-up:     false;
$use-soft-at-md-up:     false;
$use-soft-at-lg-up:     false;

$use-soft-half:             false;
$use-soft-half-at-xs-down:  false;
$use-soft-half-at-sm-down:  false;
$use-soft-half-at-md-down:  false;
$use-soft-half-at-lg-down:  false;
$use-soft-half-at-xs-up:    false;
$use-soft-half-at-sm-up:    false;
$use-soft-half-at-md-up:    false;
$use-soft-half-at-lg-up:    false;

/* SOFT -> TOP */
$use-soft--top:             false;
$use-soft--top-at-xs-down:  false;
$use-soft--top-at-sm-down:  false;
$use-soft--top-at-md-down:  false;
$use-soft--top-at-lg-down:  false;
$use-soft--top-at-xs-up:    false;
$use-soft--top-at-sm-up:    false;
$use-soft--top-at-md-up:    false;
$use-soft--top-at-lg-up:    false;

$use-soft-half--top:            false;
$use-soft-half--top-at-xs-down: false;
$use-soft-half--top-at-sm-down: false;
$use-soft-half--top-at-md-down: false;
$use-soft-half--top-at-lg-down: false;
$use-soft-half--top-at-xs-up:   false;
$use-soft-half--top-at-sm-up:   false;
$use-soft-half--top-at-md-up:   false;
$use-soft-half--top-at-lg-up:   false;

/* SOFT -> RIGHT */
$use-soft--right:               false;
$use-soft--right-at-xs-down:    false;
$use-soft--right-at-sm-down:    false;
$use-soft--right-at-md-down:    false;
$use-soft--right-at-lg-down:    false;
$use-soft--right-at-xs-up:      false;
$use-soft--right-at-sm-up:      false;
$use-soft--right-at-md-up:      false;
$use-soft--right-at-lg-up:      false;

$use-soft-half--right:              false;
$use-soft-half--right-at-xs-down:   false;
$use-soft-half--right-at-sm-down:   false;
$use-soft-half--right-at-md-down:   false;
$use-soft-half--right-at-lg-down:   false;
$use-soft-half--right-at-xs-up:     false;
$use-soft-half--right-at-sm-up:     false;
$use-soft-half--right-at-md-up:     false;
$use-soft-half--right-at-lg-up:     false;

/* SOFT -> BOTTOM */
$use-soft--bottom:              false;
$use-soft--bottom-at-xs-down:   false;
$use-soft--bottom-at-sm-down:   false;
$use-soft--bottom-at-md-down:   false;
$use-soft--bottom-at-lg-down:   false;
$use-soft--bottom-at-xs-up:     false;
$use-soft--bottom-at-sm-up:     false;
$use-soft--bottom-at-md-up:     false;
$use-soft--bottom-at-lg-up:     false;

$use-soft-half--bottom:             false;
$use-soft-half--bottom-at-xs-down:  false;
$use-soft-half--bottom-at-sm-down:  false;
$use-soft-half--bottom-at-md-down:  false;
$use-soft-half--bottom-at-lg-down:  false;
$use-soft-half--bottom-at-xs-up:    false;
$use-soft-half--bottom-at-sm-up:    false;
$use-soft-half--bottom-at-md-up:    false;
$use-soft-half--bottom-at-lg-up:    false;

/* SOFT -> LEFT */
$use-soft--left:            true;
$use-soft--left-at-xs-down: false;
$use-soft--left-at-sm-down: false;
$use-soft--left-at-md-down: false;
$use-soft--left-at-lg-down: false;
$use-soft--left-at-xs-up:   false;
$use-soft--left-at-sm-up:   false;
$use-soft--left-at-md-up:   false;
$use-soft--left-at-lg-up:   false;

$use-soft-half--left:               false;
$use-soft-half--left-at-xs-down:    false;
$use-soft-half--left-at-sm-down:    false;
$use-soft-half--left-at-md-down:    false;
$use-soft-half--left-at-lg-down:    false;
$use-soft-half--left-at-xs-up:      false;
$use-soft-half--left-at-sm-up:      false;
$use-soft-half--left-at-md-up:      false;
$use-soft-half--left-at-lg-up:      false;

/* SOFT -> SIDES */
$use-soft--sides:               false;
$use-soft--sides-at-xs-down:    false;
$use-soft--sides-at-sm-down:    false;
$use-soft--sides-at-md-down:    false;
$use-soft--sides-at-lg-down:    false;
$use-soft--sides-at-xs-up:      false;
$use-soft--sides-at-sm-up:      false;
$use-soft--sides-at-md-up:      false;
$use-soft--sides-at-lg-up:      false;

$use-soft-half--sides:              false;
$use-soft-half--sides-at-xs-down:   false;
$use-soft-half--sides-at-sm-down:   false;
$use-soft-half--sides-at-md-down:   false;
$use-soft-half--sides-at-lg-down:   false;
$use-soft-half--sides-at-xs-up:     false;
$use-soft-half--sides-at-sm-up:     false;
$use-soft-half--sides-at-md-up:     false;
$use-soft-half--sides-at-lg-up:     false;

/* SOFT -> ENDS */
$use-soft--ends:            true;
$use-soft--ends-at-xs-down: false;
$use-soft--ends-at-sm-down: false;
$use-soft--ends-at-md-down: false;
$use-soft--ends-at-lg-down: false;
$use-soft--ends-at-xs-up:   false;
$use-soft--ends-at-sm-up:   false;
$use-soft--ends-at-md-up:   false;
$use-soft--ends-at-lg-up:   false;

$use-soft-half--ends:               false;
$use-soft-half--ends-at-xs-down:    false;
$use-soft-half--ends-at-sm-down:    false;
$use-soft-half--ends-at-md-down:    false;
$use-soft-half--ends-at-lg-down:    false;
$use-soft-half--ends-at-xs-up:      false;
$use-soft-half--ends-at-sm-up:      false;
$use-soft-half--ends-at-md-up:      false;
$use-soft-half--ends-at-lg-up:      false;


/* BLEED */
$use-bleed:         false;
$use-bleed--top:    false;
$use-bleed--right:  false;
$use-bleed--bottom: false;
$use-bleed--left:   false;

/* BLEED-HALF */
$use-bleed-half:            false;
$use-bleed-half--top:       false;
$use-bleed-half--right:     false;
$use-bleed-half--bottom:    false;
$use-bleed-half--left:      false;


/* HARD (REMOVE PADDING) */
$use-hard:              false;
$use-hard-at-xs-down:   false;
$use-hard-at-sm-down:   false;
$use-hard-at-md-down:   false;
$use-hard-at-lg-down:   false;
$use-hard-at-xs-up:     false;
$use-hard-at-sm-up:     false;
$use-hard-at-md-up:     false;
$use-hard-at-lg-up:     false;

/* HARD -> TOP */
$use-hard--top:             false;
$use-hard--top-at-xs-down:  false;
$use-hard--top-at-sm-down:  false;
$use-hard--top-at-md-down:  false;
$use-hard--top-at-lg-down:  false;
$use-hard--top-at-xs-up:    false;
$use-hard--top-at-sm-up:    false;
$use-hard--top-at-md-up:    false;
$use-hard--top-at-lg-up:    false;

/* HARD -> RIGHT */
$use-hard--right:               false;
$use-hard--right-at-xs-down:    false;
$use-hard--right-at-sm-down:    false;
$use-hard--right-at-md-down:    false;
$use-hard--right-at-lg-down:    false;
$use-hard--right-at-xs-up:      false;
$use-hard--right-at-sm-up:      false;
$use-hard--right-at-md-up:      false;
$use-hard--right-at-lg-up:      false;

/* HARD -> BOTTOM */
$use-hard--bottom:              false;
$use-hard--bottom-at-xs-down:   false;
$use-hard--bottom-at-sm-down:   false;
$use-hard--bottom-at-md-down:   false;
$use-hard--bottom-at-lg-down:   false;
$use-hard--bottom-at-xs-up:     false;
$use-hard--bottom-at-sm-up:     false;
$use-hard--bottom-at-md-up:     false;
$use-hard--bottom-at-lg-up:     false;

/* HARD -> LEFT */
$use-hard--left:            false;
$use-hard--left-at-xs-down: false;
$use-hard--left-at-sm-down: false;
$use-hard--left-at-md-down: false;
$use-hard--left-at-lg-down: false;
$use-hard--left-at-xs-up:   false;
$use-hard--left-at-sm-up:   false;
$use-hard--left-at-md-up:   false;
$use-hard--left-at-lg-up:   false;

/* HARD -> SIDES */
$use-hard--sides:               false;
$use-hard--sides-at-xs-down:    false;
$use-hard--sides-at-sm-down:    false;
$use-hard--sides-at-md-down:    false;
$use-hard--sides-at-lg-down:    false;
$use-hard--sides-at-xs-up:      false;
$use-hard--sides-at-sm-up:      false;
$use-hard--sides-at-md-up:      false;
$use-hard--sides-at-lg-up:      false;

/* HARD -> ENDS */
$use-hard--ends:            false;
$use-hard--ends-at-xs-down: false;
$use-hard--ends-at-sm-down: false;
$use-hard--ends-at-md-down: false;
$use-hard--ends-at-lg-down: false;
$use-hard--ends-at-xs-up:   false;
$use-hard--ends-at-sm-up:   false;
$use-hard--ends-at-md-up:   false;
$use-hard--ends-at-lg-up:   false;



/* HIDDEN */
$use-hidden:            true;
$use-hidden-at-xs-down: true;
$use-hidden-at-sm-down: true;
$use-hidden-at-md-down: false;
$use-hidden-at-lg-down: false;
$use-hidden-at-xs-up:   false;
$use-hidden-at-sm-up:   true;
$use-hidden-at-md-up:   false;
$use-hidden-at-lg-up:   false;
$use-hidden-sr:         false; /* Don't use if parent is position fixed!! */


/* BACKGROUND COLOUR */
$use-bg-brand:      false;
$use-bg-alpha:      false;
$use-bg-beta:       false;
$use-bg-gamma:      false;
$use-bg-delta:      false;
$use-bg-epsilon:    false;
$use-bg-zeta:       false;


/* TEXT COLOUR */
$use-txt-brand:     false;
$use-txt-alpha:     false;
$use-txt-beta:      false;
$use-txt-gamma:     false;
$use-txt-delta:     false;
$use-txt-epsilon:   false;
$use-txt-zeta:      false;

/* BORDER (ADD BORDERS) */
$use-border:            false;
$use-border--top:       false;
$use-border--right:     false;
$use-border--bottom:    false;
$use-border--left:      false;

/* CLEAN (REMOVE BORDERS) */
$use-clean:         false;
$use-clean--top:    false;
$use-clean--right:  false;
$use-clean--bottom: false;
$use-clean--left:   false;

/* GENERIC HELPERS */
$use-circle:        false;
$use-rounded:		false;
$use-no-bg:         false;
$use-brand-font:    false;
$use-alpha-font:    false;
$use-center-block:  false;
$use-block:         false;
$use-inline-block:  false;


/* GENERIC */
$use-fill-height: false;
