$use-shame: true!default;
@if ($use-shame) {
	/*------------------------------------*\
	    #COMPONENTS -> TRUMPS -> $SHAME
	\*------------------------------------*/


	/** 
	 * IE9 fixes 
	 */
	.oldie {
	}



	/**
	 * Social media iframe hacks
	 */
	$use-share-block: false;
	/** an inline list of share buttons -- bit buggy might not work everytime! */
	@if ($use-share-block) {
		.share-block {
			height: 20px;
			li {
				height: 100%;
				vertical-align: top;
			}
			.fb-like {
				vertical-align: top;
				span[style] {
					vertical-align: top !important;
				}
			}
		}
	}

	$use_like-box: false;
	/**  Makes facebook likebox responsive */
	@if($use_like-box) {
		
		.fb-page, 
		.fb-page span, 
		.fb-page span iframe[style] { 
			width: 100% !important; 
			/** ensure data-width=100%  otherwise this wont work */
		}
	}



	


	/**
	 * WordPress styles & hacks
	 */
	.alignleft {
	    float: left;
	}

	.alignright {
	    float: right;
	}

	/** hide customize button from wordpress admin bar. */
	#wp-admin-bar-customize {
		display: none;
	}
}
