@if ($use-inline-list) {
/*------------------------------------*\
    OBJECTS -> LISTS -> ##INLINE-LIST
\*------------------------------------*/
/**
 * Throws a list inline, extends bare-list.

<ul class="o-inline-list">
	<li>...</li>
	<li>...</li>
</ul>


 * Spaces out the list items

<ul class="o-inline-list o-inline-list--spaced">
	<li>...</li>
	<li>...</li>
</ul>


 */
$list-spacing: $spacing-unit;


.o-inline-list {
	@include bare-list;
	
	/* Remove spaces between inline block items */
	font-size: 0;
}

	.o-inline-list > li {
		@include font-size($base-font-size);

		display: inline-block;
		vertical-align: middle;	
	}

		.o-inline-list--spaced > li:not(:first-child) {
			padding-left: $list-spacing;
		}

		.o-inline-list--spaced\/2 > li:not(:first-child) {
			padding-left: ($list-spacing / 2);
		}


} /* Close @if */
