@if ($use-input-addon) {

/*------------------------------------*\
    COMPONENTS -> FORMS -> ##INPUT-ADDON
\*------------------------------------*/

/**
 * Places a component either besides, or inside of an input field.
 *
 * DEPENDENCIES:
 * - text-input
 * - block-form  


 * Inside the input field

<div class="c-addon-group c-addon-group--inside c-addon-group--inside--left">
    <input type="text" class="c-text-input c-addon-group--inside__input">
    <button type="submit" class="c-addon-group--inside__addon">
        S
    </button>
</div>



 * Outside the input field.

<div class="c-addon-group c-addon-group--outside c-addon-group--outside--right">
    <input type="text" class="c-text-input c-addon-group--outside__input">
    <button type="submit" class="c-addon-group--outside__addon">
        S
    </button>
</div>


 */

$addon-inside: true;
$addon-outside: false;

.c-addon-group {
    display: inline-block;
}

@if ($addon-inside) {
    .c-addon-group--inside {
        position: relative;
    }

        .c-addon-group--inside__addon {
            position: absolute;
            top: 0;
            bottom: 0;
        }

            .c-addon-group--inside--right .c-addon-group--inside__addon {
                right: 0;
            }
            .c-addon-group--inside--left .c-addon-group--inside__addon {
                left: 0;
            }
}

@if ($addon-outside) {
    .c-addon-group--outside {
        display: table;
    }

        .c-addon-group--outside__addon {
            padding-top: 0;
            padding-bottom: 0;
        }

        .c-addon-group--outside__addon,
        .c-addon-group--outside__input {
            display: table-cell;
            height: 100%;
            vertical-align: middle;
        }

            .c-addon-group--outside--left .c-addon-group--outside__input {
                float: right;
            }
            
            .c-addon-group--outside--right .c-addon-group--outside__input {
                float: left;
            }
}


} /* Close @if */