/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
/**
 * Default link styles
 */
$base-link-hover-color: darken($base-link-color, 15%) !default;
a {
    color: $base-link-color;
    &:hover,
    &:focus {
        color: $base-link-hover-color;
        outline: none;
    }
    &:active {
        outline: none;
    }
}