@if $use-ui-list {
/*------------------------------------*\
    COMPOENTS -> LISTS -> $UI-LIST
\*------------------------------------*/
/**
 * Create blocky lists of content that are border separated.
 * Extends bare-list
 *

<ul class="c-ui-list">
    <li>
        Item 1
    </li>
    <li>
        Item 2
    </li>
</ul>


 */

@mixin make-item($size) {
    padding: $size 0;
    >li {
        padding: $size;
        &:last-child {
            padding-bottom: 0;
        }
        &:first-child {
            padding-top: 0;
        }
    }
}


$ui-list-border-color:  $base-border-color;
$use-ui-list-half:      false;
$use-ui-list-double:    false;

.c-ui-list {
    @include bare-list;
    @include make-item($spacing-unit);

    border: 0 solid $ui-list-border-color;
    border-width: 1px 0;
}

.c-ui-list > li + li {
    border-top: 1px solid $ui-list-border-color;
}

@if $use-ui-list-half {
    .c-ui-list--half {
        @include make-item($half-spacing-unit);
    }       
}
@if $use-ui-list-double {
    .c-ui-list--double {
        @include make-item($spacing-unit * 2);
    }       
}


} /* Close @if */